body {
	.flex{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	@media (max-width: 767px) {
	.flex{
			display: initial;
		}
	}
	//background
	.w-back-g {
		background: #fff  !important;	
	}
	.g-back-g{
		background: #ececec !important;	
	}
	.n-back-g {
		background: none !important;
	}
	//float
	.fl{
		float: left !important;
	}
	.fr{
		float: right !important;
	}
	//color
	.btn-default{
		&:hover{
			color: #ed7100;
		}
	}
	.text-black {
		color: #000 ;
	}
	.text-gray {
		color: #777 !important;
	}
	.text-orange {
		color: #ed7100 !important;
	}
	.text-red {
		color: #e62e04 !important;
	}
	.text-blue {
		color: #4f7ab2;
	}
	.text-green {
		color: #00b570;
	}
	.text-orange {
		color: #ef7c17;
	}
	//font-size
	.text12 {
		font-size: 12px;
	}
	.text14 {
		font-size: 14px;
	}
	.text18 {
		font-size: 18px;
	}
	.text22 {
		font-size: 22px;
	}
	.text24 {
		font-size: 24px;
	}
	.text28 {
		font-size: 28px;
	}
	.text32 {
		font-size: 32px;
	}
	.w-100{
		width: 100% !important;
	}
	.w-75{
		width: 100% !important;
	}
	.w-50{
		width: 100% !important;
	}
	.w-25{
		width: 100% !important;
	}
	.min {
		width: 90px;
		display: flex;
		align-items: center;
	}
	//border
	.border-n {
		border: none !important;
	}

	.border-tb {
		border-bottom: 1px solid #000;
		border-top: 1px solid #000;
	}

	.border-tb-g {
		border-bottom: 1px solid #ededed;
		border-top: 1px solid #ededed;
	}
	
	.border-r {
		border-right: 1px solid #ededed;
	}

	.border-t {
		border-top: 1px solid #ededed;
	}
	
	.border-b {
		border-bottom: 1px solid #000;
	}

	.border-b-g {
		border-bottom: 1px solid #ededed;
	}

	.underline {
		text-decoration: underline;
	} 
	
	//	padding & margin
	
	.ml-0 {
		margin-left: 0px
	}

	.ml-10 {
		margin-left: 10px
	}

	.ml-15 {
		margin-left: 15px
	}

	.ml-20 {
		margin-left: 20px
	}

	.ml-30 {
		margin-left: 30px
	}

	.ml-40 {
		margin-left: 40px
	}

	.ml-48 {
		margin-left: 48px
	}

	.ml-50 {
		margin-left: 50px
	}

	.ml-60 {
		margin-left: 60px
	}

	.ml-70 {
		margin-left: 70px
	}

	.ml-80 {
		margin-left: 80px
	}

	.ml-90 {
		margin-left: 90px
	}

	.ml-100 {
		margin-left: 100px
	}

	/*------Margin right-------*/
	.mr-0 {
		margin-right: 0px
	}

	.mr-10 {
		margin-right: 10px
	}

	.mr-15 {
		margin-right: 15px
	}

	.mr-20 {
		margin-right: 20px
	}

	.mr-30 {
		margin-right: 30px
	}

	.mr-40 {
		margin-right: 40px
	}

	.mr-50 {
		margin-right: 50px
	}

	.mr-60 {
		margin-right: 60px
	}

	.mr-70 {
		margin-right: 70px
	}

	.mr-80 {
		margin-right: 80px
	}

	.mr-90 {
		margin-right: 90px
	}

	.mr-100 {
		margin-right: 100px
	}

	/*------Margin Top-------*/
	.mt-0 {
		margin-top: 0px
	}

	.mt-7 {
		margin-top: 7px
	}

	.mt-10 {
		margin-top: 10px
	}

	.mt-15 {
		margin-top: 15px
	}

	.mt-20 {
		margin-top: 20px
	}
	
	.mt-25 {
		margin-top: 25px
	}
	
	.mt-30 {
		margin-top: 30px
	}

	.mt-35 {
		margin-top: 35px
	}

	.mt-40 {
		margin-top: 40px
	}

	.mt-45 {
		margin-top: 45px
	}

	.mt-50 {
		margin-top: 50px
	}

	.mt-52 {
		margin-top: 52px
	}

	.mt-60 {
		margin-top: 60px
	}
	
	.mt-65 {
		margin-top: 65px
	}
	
	.mt-70 {
		margin-top: 70px
	}

	.mt-80 {
		margin-top: 80px
	}

	.mt-90 {
		margin-top: 90px
	}

	.mt-100 {
		margin-top: 100px
	}

	.mt-110 {
		margin-top: 110px
	}

	.mt-180 {
		margin-top: 180px
	}

	/*------Margin Bottom-------*/
	.mb-0 {
		margin-bottom: 0px
	}

	.mb-5 {
		margin-bottom: 5px
	}

	.mb-10 {
		margin-bottom: 10px
	}

	.mb-15 {
		margin-bottom: 15px
	}

	.mb-20 {
		margin-bottom: 20px
	}

	.mb-25 {
		margin-bottom: 25px
	}

	.mb-30 {
		margin-bottom: 30px
	}

	.mb-35 {
		margin-bottom: 35px
	}

	.mb-40 {
		margin-bottom: 40px
	}

	.mb-50 {
		margin-bottom: 50px
	}

	.mb-58 {
		margin-bottom: 58px
	}

	.mb-60 {
		margin-bottom: 60px
	}

	.mb-70 {
		margin-bottom: 70px
	}

	.mb-80 {
		margin-bottom: 80px
	}

	.mb-83 {
		margin-bottom: 83px
	}

	.mb-85 {
		margin-bottom: 85px
	}

	.mb-90 {
		margin-bottom: 90px
	}

	.mb-100 {
		margin-bottom: 100px
	}
	@media (min-width:992px){
		.mt-md-25 {
			margin-top: 25px
		}
		.mb-md-10{
			margin-bottom: 10px;
		}
		.mb-md-20{
			margin-bottom: 20px;
		}
		.mb-md-30{
			margin-bottom: 30px;
		}
		.mt-md-250{
			margin-top: -250px;
		}
	}

	/*------Padding all-------*/
	.p-10 {
		padding: 10px
	}
	.p-15 {
		padding: 15px
	}
	.p-20 {
		padding: 20px
	}
	.p-60 {
		padding: 60px
	}

	/*------Padding left-------*/
	.pl-0 {
		padding-left: 0px
	}

	.pl-10 {
		padding-left: 10px
	}

	.pl-15 {
		padding-left: 15px
	}

	.pl-20 {
		padding-left: 20px
	}

	.pl-30 {
		padding-left: 30px
	}

	.pl-40 {
		padding-left: 40px
	}

	.pl-50 {
		padding-left: 50px
	}
	
	.pl-60 {
		padding-left: 60px
	}

	.pl-70 {
		padding-left: 70px
	}

	.pl-80 {
		padding-left: 80px
	}

	.pl-90 {
		padding-left: 90px
	}

	.pl-100 {
		padding-left: 100px
	}

	/*------Padding right-------*/
	.pr-0 {
		padding-right: 0px
	}

	.pr-10 {
		padding-right: 10px
	}

	.pr-15 {
		padding-right: 15px
	}

	.pr-20 {
		padding-right: 20px
	}

	.pr-30 {
		padding-right: 30px
	}

	.pr-40 {
		padding-right: 40px
	}

	.pr-50 {
		padding-right: 50px
	}

	.pr-60 {
		padding-right: 60px
	}

	.pr-70 {
		padding-right: 70px
	}

	.pr-80 {
		padding-right: 80px
	}

	.pr-90 {
		padding-right: 90px
	}

	.pr-100 {
		padding-right: 100px
	}

	/*------Padding Left Right-------*/
	.plr-0 {
		padding-left: 0px;
		padding-right: 0px
	}
	.plr-15 {
		padding-left: 15px;
		padding-right: 15px
	}
	.plr-25 {
		padding-left: 25px;
		padding-right: 25px
	}

	.plr-35 {
		padding-left: 35px;
		padding-right: 35px
	}

	.plr-40 {
		padding-left: 40px;
		padding-right: 40px
	}

	.plr-45 {
		padding-left: 45px;
		padding-right: 45px
	}

	.plr-50 {
		padding-left: 50px;
		padding-right: 50px
	}

	.plr-80 {
		padding-left: 80px;
		padding-right: 80px
	}

	.plr-100 {
		padding-left: 100px;
		padding-right: 100px
	}

	/*------Padding Top-------*/
	.pt-0 {
		padding-top: 0px
	}

	.pt-10 {
		padding-top: 10px
	}

	.pt-15 {
		padding-top: 15px
	}

	.pt-20 {
		padding-top: 20px
	}

	.pt-25 {
		padding-top: 25px
	}

	.pt-30 {
		padding-top: 30px
	}

	.pt-40 {
		padding-top: 40px
	}

	.pt-45 {
		padding-top: 45px
	}

	.pt-50 {
		padding-top: 50px
	}

	.pt-60 {
		padding-top: 60px
	}

	.pt-70 {
		padding-top: 70px
	}

	.pt-75 {
		padding-top: 75px
	}

	.pt-80 {
		padding-top: 80px
	}

	.pt-90 {
		padding-top: 90px
	}

	.pt-94 {
		padding-top: 94px
	}

	.pt-95 {
		padding-top: 95px
	}

	.pt-100 {
		padding-top: 100px
	}

	.pt-110 {
		padding-top: 110px
	}

	.pt-140 {
		padding-top: 140px
	}

	/*------Padding-------*/
	.p-50 {
		padding: 50px
	}

	.p-48 {
		padding: 48px
	}

	.p-40 {
		padding: 40px
	}

	.p-38 {
		padding: 38px
	}

	/*------Padding Bottom-------*/
	.pb-0 {
		padding-bottom: 0px
	}

	.pb-10 {
		padding-bottom: 10px
	}

	.pb-15 {
		padding-bottom: 15px
	}

	.pb-20 {
		padding-bottom: 20px
	}

	.pb-25 {
		padding-bottom: 25px
	}

	.pb-30 {
		padding-bottom: 30px
	}

	.pb-40 {
		padding-bottom: 40px
	}

	.pb-45 {
		padding-bottom: 45px
	}

	.pb-50 {
		padding-bottom: 50px
	}

	.pb-55 {
		padding-bottom: 55px
	}

	.pb-58 {
		padding-bottom: 58px
	}

	.pb-60 {
		padding-bottom: 60px
	}

	.pb-65 {
		padding-bottom: 65px
	}

	.pb-70 {
		padding-bottom: 70px
	}

	.pb-75 {
		padding-bottom: 75px
	}

	.pb-80 {
		padding-bottom: 80px
	}

	.pb-90 {
		padding-bottom: 90px
	}

	.pb-95 {
		padding-bottom: 95px
	}

	.pb-100 {
		padding-bottom: 100px
	}

	.pb-110 {
		padding-bottom: 110px
	}

	.pb-120 {
		padding-bottom: 120px
	}

	.pb-130 {
		padding-bottom: 130px
	}

	.pb-140 {
		padding-bottom: 140px
	}

	/*------Padding  Top Bottom-------*/
	.ptb-0 {
		padding-top: 0px;
		padding-bottom: 0px
	}

	.ptb-5 {
		padding-top: 5px;
		padding-bottom: 5px
	}

	.ptb-10 {
		padding-top: 10px;
		padding-bottom: 10px
	}

	.ptb-11 {
		padding-top: 11px;
		padding-bottom: 11px
	}

	.ptb-12 {
		padding-top: 12px;
		padding-bottom: 12px
	}

	.ptb-15 {
		padding-top: 15px;
		padding-bottom: 15px
	}

	.ptb-20 {
		padding-top: 20px;
		padding-bottom: 20px
	}

	.ptb-25 {
		padding-top: 25px;
		padding-bottom: 25px
	}

	.ptb-30 {
		padding-top: 30px;
		padding-bottom: 30px
	}

	.ptb-40 {
		padding-top: 40px;
		padding-bottom: 40px
	}

	.ptb-45 {
		padding-top: 45px;
		padding-bottom: 45px
	}

	.ptb-50 {
		padding-top: 50px;
		padding-bottom: 50px
	}

	.ptb-55 {
		padding-top: 55px;
		padding-bottom: 55px
	}

	.ptb-58 {
		padding-top: 58px;
		padding-bottom: 58px
	}

	.ptb-60 {
		padding-top: 60px;
		padding-bottom: 60px
	}

	.ptb-70 {
		padding-top: 70px;
		padding-bottom: 70px
	}

	.ptb-80 {
		padding-top: 80px;
		padding-bottom: 80px
	}

	.ptb-90 {
		padding-top: 90px;
		padding-bottom: 90px
	}

	.ptb-92 {
		padding-top: 92px;
		padding-bottom: 92px
	}

	.ptb-100 {
		padding-top: 100px;
		padding-bottom: 100px
	}

	.ptb-110 {
		padding-top: 110px;
		padding-bottom: 110px
	}

	.ptb-118 {
		padding-top: 118px;
		padding-bottom: 118px
	}

	.ptb-120 {
		padding-top: 120px;
		padding-bottom: 120px
	}

	.ptb-130 {
		padding-top: 130px;
		padding-bottom: 130px
	}

	.ptb-132 {
		padding-top: 132px;
		padding-bottom: 132px
	}

	.ptb-140 {
		padding-top: 140px;
		padding-bottom: 140px
	}

	.ptb-150 {
		padding-top: 150px;
		padding-bottom: 150px
	}

	.ptb-160 {
		padding-top: 160px;
		padding-bottom: 160px
	}

	.ptb-180 {
		padding-top: 180px;
		padding-bottom: 180px
	}

	.ptb-200 {
		padding-top: 200px;
		padding-bottom: 200px
	}

	.ptb-240 {
		padding-top: 240px;
		padding-bottom: 240px
	}
	@media (min-width: 1200px) {
		.p-lg-rl-50{
			padding-right: 50px;
			padding-left: 50px;
		}
		
		.p-lg-r-50{
			padding-right: 50px;
		}
		.p-lg-l-50{
			padding-left: 50px;
		}
	}

}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
	font-family: '微軟正黑體' !important;
}
h1,
h2,
h3,
h4,
h5,
h6{
	color: #343434;
	font-weight: bold;
}